In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('/content/Book_Dataset_1.csv', index_col='Title')

In [3]:
df.head(10)

,Unnamed: 0,Category,Price,Price_After_Tax,Tax_amount,Avilability,Number_of_reviews,Book_Description,Image_Link,Stars
Title,,,,,,,,,,
A Light in the Attic,0,Poetry,51.77,51.77,0.0,22,0,It's hard to imagine a world without A Light i...,http://books.toscrape.com/media/cache/fe/72/fe...,3
Tipping the Velvet,1,Historical Fiction,53.74,53.74,0.0,20,0,"""Erotic and absorbing...Written with starling ...",http://books.toscrape.com/media/cache/08/e9/08...,1
Soumission,2,Fiction,50.10,50.10,0.0,20,0,"Dans une France assez proche de la nÃ´tre, un ...",http://books.toscrape.com/media/cache/ee/cf/ee...,1
Sharp Objects,3,Mystery,47.82,47.82,0.0,20,0,"WICKED above her hipbone, GIRL across her hear...",http://books.toscrape.com/media/cache/c0/59/c0...,4
Sapiens: A Brief History of Humankind,4,History,54.23,54.23,0.0,20,0,From a renowned historian comes a groundbreaki...,http://books.toscrape.com/media/cache/ce/5f/ce...,5
The Requiem Red,5,Young Adult,22.65,22.65,0.0,19,0,Patient Twenty-nine.A monster roams the halls ...,http://books.toscrape.com/media/cache/6b/07/6b...,1
The Dirty Little Secrets of Getting Your Dream Job,6,Business,33.34,33.34,0.0,19,0,Drawing on his extensive experience evaluating...,http://books.toscrape.com/media/cache/e1/1b/e1...,4
"The Coming Woman: A Novel Based on the Life of the Infamous Feminist, Victoria Woodhull",7,Default,17.93,17.93,0.0,19,0,"""If you have a heart, if you have a soul, Kare...",http://books.toscrape.com/media/cache/97/36/97...,3
The Boys in the Boat: Nine Americans and Their Epic Quest for Gold at the 1936 Berlin Olympics,8,Default,22.60,22.60,0.0,19,0,For readers of Laura Hillenbrand's Seabiscuit ...,http://books.toscrape.com/media/cache/d1/2d/d1...,4
The Black Maria,9,Poetry,52.15,52.15,0.0,19,0,"Praise for Aracelis Girmay:""[Girmay's] every l...",http://books.toscrape.com/media/cache/d1/7a/d1...,1

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1000 entries, A Light in the Attic to 1,000 Places to See Before You Die
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         1000 non-null   int64
 1   Category           1000 non-null   object
 2   Price              1000 non-null   float64
 3   Price_After_Tax    1000 non-null   float64
 4   Tax_amount         1000 non-null   float64
 5   Avilability        1000 non-null   int64
 6   Number_of_reviews  1000 non-null   int64
 7   Book_Description   1000 non-null   object
 8   Image_Link         1000 non-null   object
 9   Stars              1000 non-null   int64
dtypes: float64(3), int64(4), object(3)
memory usage: 118.2+ KB

In [ ]:
df.describe()

,Unnamed: 0,Price,Price_After_Tax,Tax_amount,Avilability,Number_of_reviews,Stars
count,1000.000000,1000.00000,1000.00000,1000.0,1000.000000,1000.0,1000.000000
mean,499.500000,35.07035,35.07035,0.0,8.585000,0.0,2.923000
std,288.819436,14.44669,14.44669,0.0,5.654622,0.0,1.434967
min,0.000000,10.00000,10.00000,0.0,1.000000,0.0,1.000000
25%,249.750000,22.10750,22.10750,0.0,3.000000,0.0,2.000000
50%,499.500000,35.98000,35.98000,0.0,7.000000,0.0,3.000000
75%,749.250000,47.45750,47.45750,0.0,14.000000,0.0,4.000000
max,999.000000,59.99000,59.99000,0.0,22.000000,0.0,5.000000

Całkowity brak podatku, można usunąć kolumnę, to samo w przypadku kolumny number of reviews